@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #26233c;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.logo
{
    display:flex;
    justify-content: center;

}
header ul
{
    display:flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a .active
{
    background: #fff;
    color: #26233c;
}
section
{
    position: relative;
    width: 100%; 
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#26233c,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#feathers
{
    mix-blend-mode: screen;
}

#text
{
    position: absolute;
    top: 220px;
    color: #fff;
    white-space: nowrap;
    font-size: 5vw;
    text-align: center;
    z-index: 9;
}
#btn
{
text-decoration: none;
display: inline-block;
padding: 8px 30px;
border-radius: 40px;
background: #fff;
color:#26233c; 
font-size: 1.3em;
z-index: 9;
transform: translateY(150px);
}

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
.sec
{  padding-top: 200px;
 position: relative;
 text-align: center;
 background: #26233c;
}

.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff
}
.sec p
{
    font-size: 1.2em;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    color: #fff
}

.container
{
    display:flex;
    padding-left: 130px;
    padding-bottom: 150px;
    width:90vw;
    background: #26233c;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:72vh;
    border-radius: 50px;
    flex:0.5;
    position:relative;
    transition: flex 0.5s ease-in;
    color:#fff;
    cursor:pointer;
    margin:10px;
}

.panel h3{
    position:absolute;
    font-size: x-large;
    bottom:30px;
    left:35px;
    opacity:0;
}

.panel.active{
    flex:5;
}

.panel.active h3{
    opacity:1;
     transition: opacity 0.4s ease-in 0.4s;
}

@media(max-width:480px){
    .container{
        width:100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display:none;
    }
}
.bg{
    display:absolute;
    justify-content:center;
    align-items: center;
    min-height:100vh;
    background:#26233c;
    padding-bottom:100px;
}
.bg h4
    {font-size: 3.5em;
    color:#fff;
    text-align:center;
    position:center;

}
.glass
{
    display: block;
    margin: auto;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    max-width:1200px;
    flex-wrap:wrap;
    z-index:1;
}

.glass .card
{
    position:relative;
    width:280px;
    height:400px;
    margin:30px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background:rgba(255,255,255,0.1);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    backdrop-filter:blur(5px);
    
}
.glass .card .content
{
    padding:20px;
    text-align:center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.glass .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}

.glass .card .content h2
{
    position: absolute;
    top:-60px;
    right:30px;
    font-size:8em;
    color: rgba(255,255,255,0.5);
    pointer-events:none;
}
.glass .card .content h3
{
    font-size:1.7em;
    color:#fff;
    z-index:1;
}
.glass .card .content p
{
    font-size:0.9em;
    color:#fff;
    font-weight:300;
}

.introductory h2{
    padding:20px;
    font-size: 3.5em;
        color:#fff;
        text-align:center;
        position:center;
}

.video
{
    padding-bottom: 150px;
}
.video .main-video video{ 
    width: 60%;
    border-radius:15px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5);
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    display: block;
    margin: auto;
}

.FQ h2{
    padding:20px;
    font-size: 3.5em;
        color:#fff;
        text-align:center;
        position:center;
}

.FAQ
{
    position: relative;
    padding-bottom: 200px;
}

.accordion__button {
    align-items: center;
    width: 50%;
    padding:15px;
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    cursor: pointer;
    background: #47445e;
    color: #fff;
    text-align: left;
    display: block;
    margin: auto;
    transition: background 0.2s;

}
.accordion__button::after{
    content:'\25be';
    float:right;
    transform: scale(1.5);
}
.accordion__button--active{background:#a67f5f}
.accordion__button--active::after{content:'\25b4'}

.accordion__content{
    display: block;
    margin: auto;
    overflow: hidden;
    max-height: 0;
    padding: 15px;
    width: 50%;
    border-radius: 15px;
    transition: max-height 0.2s;

    padding: 0 15px;
    background: #b5b3c5;
}
footer
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 100%;
    background: rgb(178,137,105);
    min-height: 100px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu
{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 10px 0;
    flex-wrap:wrap;
}
footer .social_icon li,
footer .menu li
{
    list-style: none;
    align-items:center;
}
footer .social_icon li a
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover
{
    transform: translateY(-10px);
}

footer .menu li a
{
    font-size: 1em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover
{
    opacity: 1;
}
footer p
{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

footer .wave
{
    position:absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}